body {
  margin: 0;
  padding: 0;
}
.banner {
  background-color: #282d39;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.banner-text {
    color: white;
}

.banner-button {
  margin-top: 10px;
  margin-left: 10px;
}

.banner-button button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(41, 221, 204);
  background-color: #282d39;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/*  */

.some-text{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    background-color: black;
    color: white;
}

/*  */
.search{
    background-color: black;
}

.search-logo{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.search-form{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.search-form input  {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ad6dc7;
    width: 35%;
    padding: 10px;
    outline: none;
}

